:8085 {
    reverse_proxy localhost:8085

    header {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "content-type, ngrok-skip-browser-warning, x-hyperspace-*"
    }

    @preflight method OPTIONS
    respond @preflight 204
}